@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
	box-sizing: border-box;
}

.container {
	max-width: 600px;
	margin: auto;
}

body {
	font-family: 'Jost', sans-serif;
}

header,
form,
.input-field,
.subheader {
	display: flex;
	flex-direction: column;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

legend {
	width: 100%;
	font-size: 1.5em;
}

header,
.subheader {
	text-align: center;
}

header {
	background: #807761;
	color: #fff;
}

header h1 {
	text-transform: uppercase;
	font-size: 1.6em;
}

.subheader p {
	color: #6e6e6e;
	font-size: 0.9em;
	margin-top: 0;
	margin-bottom: 5px;
	padding-bottom: 35px;
	border-bottom: 5px solid black;
}

fieldset legend {
	margin-top: 4px;
	padding-top: 20px;
	border-top: 1.5px solid black;
}

.input-field {
	margin-bottom: 20px;
}

.input-field:first-of-type {
	margin-top: 30px;
}

.input-field input,
select {
	margin-top: 7px;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='submit'],
select,
textarea {
	border: none;
	padding: 15px;
	text-align: left;
	font-size: 0.9em;
	border-radius: 0.3em;
	background: #e8e8e8;
	height: auto;
	width: 100%;
}

#zip {
	display: inline-block;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input,
select,
textarea {
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: hidden;
	outline: none;
	transition: border 0.15s ease-in-out;
	width: auto;
}

input:focus,
select:focus,
textarea:focus {
	border: 1.7px solid #0a6882;
}

input::placeholder {
	font-style: italic;
	color: #adadad;
	text-align: right;
}

label,
p {
	color: #6e6e6e;
}

.other-topics {
	display: inline-block;
	margin-top: 16px;
}

.newsletter-checkbox {
	display: flex;
	flex-direction: row;
}

.checkbox-label {
	margin-left: 10px;
}

textarea {
	text-align: left;
	margin-bottom: 30px;
	width: 100%;
}

input[type='submit'] {
	background: #0a6882;
	color: #fff;
	text-align: center;
	font-size: 1.1em;
}

#copyright {
	margin-top: 35px;
	margin-bottom: 50px;
	text-align: center;
	font-style: italic;
	font-size: 0.9em;
	color: #adadad;
}

/* Media Query */
@media (min-width: 768px) {
	.input-field {
		flex-direction: row;
		margin-bottom: 25px;
		align-items: center;
	}

	#zip {
		display: flex;
	}

	.input-field label {
		flex: 1;
	}

	.input-field input,
	select {
		flex: 3.5;
		margin-top: 0;
	}
}
