@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.container {
	margin-left: 15px;
	margin-right: 15px;
}

body {
	font-family: 'Jost', sans-serif;
}

header,
form,
.input-field,
.subheader {
	display: flex;
	flex-direction: column;
}

header,
.subheader {
	text-align: center;
}

header {
	background: #807761;
	color: #fff;
}

header h1 {
	text-transform: uppercase;
	font-size: 1.6em;
}

.subheader h2 {
	margin-top: 20px;
	margin-bottom: 15px;
}

.subheader p {
	color: #6e6e6e;
	font-size: 0.9em;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 35px;
	border-bottom: 5px solid black;
}

section h2 {
	margin-top: 4px;
	padding-top: 20px;
	border-top: 1.5px solid black;
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='submit'],
select,
textarea {
	border: none;
	padding: 15px;
	text-align: left;
	font-size: 0.9em;
	border-radius: 0.3em;
	background: #e8e8e8;
	height: auto;
	width: 100%;
}

select {
	height: 50px;
}

input,
select,
textarea {
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: hidden;
	outline: none;
}

input:focus,
select:focus,
textarea:focus {
	border: 1.7px solid #0a6882;
}

input::placeholder {
	font-style: italic;
	color: #adadad;
	text-align: right;
}

input:last-child {
	margin-bottom: 25px;
}

label,
p {
	color: #adadad;
}

.input-field label {
	margin-top: 15px;
	margin-bottom: 5px;
}

.newsletter-checkbox {
	display: flex;
	flex-direction: row;
}

.checkbox-label {
	margin-left: 10px;
}

textarea {
	text-align: left;
	margin-bottom: 30px;
}

input[type='submit'] {
	background: #0a6882;
	color: #fff;
	text-align: center;
	font-size: 1.1em;
}

#copyright {
	margin-top: 10px;
	margin-bottom: 50px;
	text-align: center;
	font-style: italic;
	font-size: 0.9em;
	color: #adadad;
}
